<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD//EN" 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/shopping_cart?createDatabaseIfNotExist=true</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">delfitesina</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property> 
    <mapping class="ShoppingCart.Model.Entities.IndividualItem" />
    <mapping class="ShoppingCart.Model.Entities.Offer" />
    <mapping class="ShoppingCart.Model.Entities.Payment" />
    <mapping class="ShoppingCart.Model.Entities.CashPayment" />
    <mapping class="ShoppingCart.Model.Entities.CreditCardPayment" />
    <mapping class="ShoppingCart.Model.Entities.PaypalPayment" />
    <mapping class="ShoppingCart.Model.Entities.ShoppingCartEntity" />
    <mapping class="ShoppingCart.Model.Entities.User" />
    <mapping class="ShoppingCart.Model.Entities.CartItem" />
</session-factory>
</hibernate-configuration>